@import 'tailwindcss';

@font-face {
	font-family: 'Sansation';
	src: url('/fonts/Sansation/Sansation-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoFlex';
	src: url('/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RedditMono';
	src: url('/fonts/Reddit_Mono/RedditMono-VariableFont_wght.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	/* font-weight: 400; */
	font-style: normal;
}

@font-face {
	font-family: 'Commissioner';
	src: url('/fonts/Commissioner/Commissioner-VariableFont_FLAR,VOLM,slnt,wght.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Inter', sans-serif;
}

:root {
	--primary: #2a4f7b;
	--secondary: #f2ede9;
	--accent: #ae9d83;
	--neutral: #202020;
	--neutralLight: #f9f9f9;
	--comments: #50412e;

	color: var(--primary);
	user-select: none;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent);
}

::-webkit-scrollbar-corner {
	background: #f0f0f0;
}

input[type='range'] {
	appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
	height: 6px;
	background: var(--primary);
	border-radius: 2px;
}

input[type='range']::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--primary);
	border: 1px solid var(--neutral);
	margin-top: -4.5px;
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:hover {
	background: var(--neutral);
}

input[type='range']::-moz-range-thumb:hover {
	background: #1976d2;
}
